body
{
  background-color: #cbf1f5;
  text-align:center;
  margin-top: 0;
}
.titletext
{
  margin-top: 0;
  margin-bottom: 0;
}

.div0
{
  display:block;
  position: fixed;
  background-color: #cbf1f5;
  right:0px;
  left:0px;
  font-family:monospace;
  font-size: 2rem;
  color:red

}
.div1
{
  display:inline-block;
  background-color: #cbf1f5;
  margin-top:80px;
  width:90rem;
  font-family:monospace;
  font-size: 2rem;
  color:#334443


}
.div2
{
  display:inline-block;

  background-color: #cbf1f5;
  width:90rem;

}
.div3
{
  display:inline-block;

  background-color: #cbf1f5;
  font-family:monospace;
  font-size: 1.5rem;
  color:#334443;
  width:90rem;

}
.div4
{
  display:inline-block;
  
  background-color: #cbf1f5;
  width:90rem;

}
