body
{
  background-color: #cbf1f5;
  text-align:center;
  margin-top: 0;
  width:90rem;
}
.titletext0
{
  margin-top: 0;
  margin-bottom: 0;
  font-family:monospace;
  font-size: 7rem;
  color:red
}
.titletext
{
  font-family:monospace;
  font-size: 5rem;
  color:#334443
}
.div0
{
  display:block;
  position: fixed;
  background-color: #cbf1f5;
  right:0px;
  left:0px;
}
.div1
{
  display:inline-block;
  background-color: #cbf1f5;
  margin-top:6rem;
  width:90rem;
}
.div2
{
  display:inline-block;
  background-color: #cbf1f5;
  width:90rem;
}
.div3
{
  display:inline-block;
  background-color: #cbf1f5;
  font-family:monospace;
  font-size: 1.5rem;
  color:#334443;
  width:90rem;
}
.div4
{
  display:inline-block;
  background-color: #cbf1f5;
  width:90rem;
}
.div5
{
  display:inline-block;
  background-color: #cbf1f5;
  width:90rem;
}
.div6
{
  display:inline-flex;
  background-color: #cbf1f5;
  text-align: center;
  width:50rem;
  height:auto;
}
.div7
{
  text-align: center;
}
.div8
{
  display:inline-flex;
  background-color: #cbf1f5;

}
.roomimage
{
 width:15rem;
 height:15rem;
}
.roomdesctext
{
  font-family:monospace;
  font-size:2.5rem;
  color:#334443;
  margin-top: 1em;
  margin-left:1em;
  margin-right: 0;
  margin-bottom: 0;
}
.contactustext
{
  font-family:monospace;
  font-size:2.5rem;
  color:#334443;
  margin-top: 0;
  margin-bottom:0;
}
.phone_icon
{
  width:10%;
  height:auto;
  margin-top: 0;
  margin-bottom:0;
}
.dottedhr
{
  background-color:#cbf1f5;
  border-style: dotted none none;
  border-color:grey;
  border-width:5px;
  height:0px;
  width:40%;
}
.designersign
{
  font-family: 'Dancing Script', cursive;
  font-size:3rem;
  color:#334443;
}
