body
{
  background-color: #cbf1f5;
  text-align:center;
  margin-top: 0;
}
.titletext
{
  margin-top: 0;
  margin-bottom: 0;
}

.div0
{
  display:inline-block;
  position: fixed;
  background-color: #cbf1f5;
  right:0px;
  left:0px;
  margin-top: 0;
  margin-bottom: 0;
  font-family:monospace;
  font-size: 2rem;
  color:red

}
.div1
{
  display:inline-block;
  background-color: #cbf1f5;
  margin-top:80px;
  right:0px;
  left:0px;
  font-family:monospace;
  font-size: 2rem;
  color:#334443
  text-align:center;
}
.div2
{
  display:inline-block;
  background-color: #cbf1f5;
  text-align:center;
}
.div3
{
  display:inline-block;
  background-color: #cbf1f5;
  font-family:monospace;
  font-size: 1.5rem;
  color:#334443;
  right:0px;
  left:0px;
  text-align:center;
}
.div4
{
  display:inline-block;
  background-color: #cbf1f5;
  right:0px;
  left:0px;
  text-align:center;
}
